
$brand-primary: #64ffda;
$background-text: #8892b0;
$main-text: #ccd6f6;
$background-color: #0a192f;
$light-background-color: #112240;
$social-icon-color: #a8b2d1;
$sidebar-distance: 40px;



.highlightColor {
  color: $brand-primary;
}

a.highlightColor {
  display: inline flex;
  flex-direction: column;
  &:after {
    transition: width 0.4s ease;
    content: "";
    width: 0;
    height: 1px;
    background-color: $brand-primary;
  }
  &:hover:after {
    width: 100%;
  }
}



.bullet {
  &:before {
    content: "▹";
    color: $brand-primary;
    margin-right: 16px;
  }
}

.sidebarVerticalLine {
  height: 30vh;
  width: 1px;
  background-color: $social-icon-color;
}

@mixin iconWithColor {

  color: $social-icon-color;
  &:hover {
    color: $brand-primary;
  }
}



