@use "app/pages/AllVariables.global" as global;

$translation: 3px;

.defaultSize {
  padding: 12px 16px;
}

.largeSize {
  padding: 20px 80px;
}


.linkButton {
  color: global.$brand-primary;
  border-width: 1px;
  border-color: global.$brand-primary;
  border-radius: 4px;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  cursor: pointer;
  display: inline-block;
  max-width: max-content;

  &:hover {
    transform: translate(-$translation, -$translation);
    box-shadow: 4px 4px 0 0 global.$brand-primary;

  }

}
