@use "app/pages/AllVariables.global" as global;


.link {
  &:hover .navTitle{
    color: global.$brand-primary;
  }
}

.number {
  color: global.$brand-primary;
}

.navTitle {
    color: global.$main-text;
}

