@use "app/pages/AllVariables.global" as global;


%closeButtonLine {
  content: "";
  position: absolute;
  top: 50%;
  left: 25%;
  width: 100%;
}

.link {
  &:hover {
    color: global.$brand-primary;
  }
}

.number {
  color: global.$brand-primary;
}

