@use "app/pages/AllVariables.global" as global;
@use "app/ui/navigation-menu.module" as desktopMenu;

$side-padding: 15px;

.sidebar {
  display: flex;
  padding-right: $side-padding;
  padding-left: $side-padding;
  position: fixed;
  top: 0;
  right:0;
  width: min(75vw, 400px);
  height: 100%;
  background-color: global.$light-background-color;
  box-shadow: -10px 0 30px -15px rgba(2,12,27,0.7);
  z-index: 1;
  transition: transform 0.3s ease;
}

