@use "app/pages/AllVariables.global" as global;
@use "NavigationItem.module" as navigationItem;

.horizontalLine {
  margin-left: 16px;
  width: 100%;
  max-width: 250px;
  height: 1px;
  background-color: #233554;
}
