@use "app/pages/AllVariables.global" as global;

$stroke-color: #a8b2d1;

.socialIcon {
  color: $stroke-color;
  transition: transform 0.4s ease;
  &:hover {
    color: global.$brand-primary;
    transform: translateY(-5px);
  }
}

.verticalLine {
  height: 30vh;
  width: 1px;
  background-color: $stroke-color;
}