@use "app/pages/AllVariables.global" as global;

$vertical-margin: 20px;

@mixin bigText {
  font-weight: 600;
  line-height: 1.1;
  font-size: clamp(40px, 8vw, 80px);
}

.heading {
  @include bigText;
  margin-top: $vertical-margin;
  margin-bottom: $vertical-margin;
  color: global.$main-text;
}

.subtitle {
  @include bigText;
  color: global.$background-text;
  margin-bottom: $vertical-margin;

}
