@use "../../pages/AllVariables.global" as global;

.socialIcon {
  color: global.$social-icon-color;
  transition: transform 0.4s ease;
  &:hover {
    color: global.$brand-primary;
    transform: translateY(-5px);
  }
}
